/* @import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Dongle&family=Satisfy&display=swap'); */
 
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aref Ruqaa Ink', serif;
}

@layer base {
  :root {
    /* Define your CSS variables as channels with no color space function */
    --color-primary: 29, 35, 42;     /* #1d232a */
    --color-primary-light:  42, 50, 60  ;          /* #2a323c */
    --color-secondary: 167, 173, 186;      /* #a7adba */
    --color-green: 96, 138, 40; /* green ca. #7cb233 */
    --color-orange: 213, 156, 42; /* orange ca. #d9a740 */
    /* ... */
  }
}

/* aref-ruqaa-ink-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aref Ruqaa Ink';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/aref-ruqaa-ink-v10-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* aref-ruqaa-ink-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aref Ruqaa Ink';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/aref-ruqaa-ink-v10-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}