@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Dongle&family=Satisfy&display=swap');
 
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aref Ruqaa Ink', serif;
}

@layer base {
  :root {
    /* Define your CSS variables as channels with no color space function */
    --color-primary: 29, 35, 42;     /* #1d232a */
    --color-primary-light:  42, 50, 60  ;          /* #2a323c */
    --color-secondary: 162, 169, 182;      /* #a2a9b6 */
    --color-green: 96, 138, 40; /* green ca. #7cb233 */
    --color-orange: 213, 156, 42; /* orange ca. #d9a740 */
    /* ... */
  }
}
